@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    font-family: 'Montserrat', sans-serif;
    --default-bg-color: white;
    --online_bg_color: rgb(30, 201, 30);
    --offline_bg_color: rgb(206, 16, 16);
    --hover_color:#5f5f5f;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#main{
    display: grid;
    grid-template-rows: 12.5vh 1vh 64vh 22.5vh;
    grid-template-columns: 100%;

    width: 100%;
    height: 100vh;
}

#header{
    grid-column: 1;
    grid-row: 1;

    background-color: var(--default-bg-color);
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title{
    align-self: center;
    font-size: 1.4rem;
}

#close{
    color: black;
    font-size: 2em;
    align-self: center;
}

#close:hover{
    color: var(--hover_color);
}

#status{
    background-color: var(--online_bg_color);
}

#content{
    grid-column: 1;
    grid-row: 3 / 5;
    background-color: var(--default-bg-color);
}

#userdata{
    position: absolute;
    top: 25%;
    left: 10%;
}

input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 1.3rem;
}
